.formContainer{
  color: black;
  font-size: medium;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;

}
.form{
  width: 500px;
  height: 250px;
  outline: 1px solid rgba(0, 0, 0, 0.527);
  border-radius: 2.5%;
  padding: 50px;
  align-items: left;
  padding-top: 100px;
}
.formdiv{
  display: grid;
  grid-template-columns: 100px 100px;
  padding: 0px 100px;
}
.form input{
    margin-left: 20px;
    margin-bottom: 20px;
    width: 200px;
}
.form button{
    
}