.formContainer2{
    color: black;
    font-size: medium;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.form2{
    width: 500px;
    height: 400px;
    outline: 1px solid rgba(0, 0, 0, 0.527);
    border-radius: 2.5%;
    padding: 50px;
}
.form2 input{
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    height: 25px;
    border-radius: 5px;
}
.form2 button{
    background-color: black;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}